.searchBar-location__title {
  display: flex;
  /* background-color: aqua; */
  /* color: rgb(0, 68, 255); */
  /* justify-content: center; */
  height: 23px;
  margin: auto;
  padding-left: 20px;
  color: black;
  /* padding-bottom: 10px; */
  font-size: 14px;

  /* margin-left: 10px; */
}
.searchBar-location__title > p {
  margin-top: 5px;
}
.searchBar-main__container {
  display: flex;
  width: 480px;
  height: 76px;
  justify-content: center;
  background-color: #f4f1ea;
  border-radius: 40px;
  margin: auto;
  /* justify-content: space-around; */
}
.searchBar-input__container {
  /* background-color: aqua; */
  padding-bottom: 10px;
}

#location-input__search {
  /* padding-top: 30px; */
  height: 15px;
  width: 320px;
  border-radius: 40px;
  /* background-color: red; */
  outline: 0px;
  border: 0px;
  margin-right: 5px;
  /* background-color: red; */
  background-color: transparent;
}

#location-input__search::placeholder {
  color: black;
  /* text-align: center; */
  padding-left: 16px;
}

.searchNav-main-btn {
  height: 40px;
  width: 80px;
  /* background-color: rgb(255, 56, 92);
  font-weight: 333;
  text-align: center;
  border-radius: 40px;
  margin-top: 20px; */
}

.searchNav-btn__search {
  display: flex;
  justify-content: center;
  /* background-color: transparent; */
  /* background-color: rgb(255, 56, 92); */
}

#search-nav__btn {
  display: flex;
  margin-bottom: 10px;
  background-color: rgb(255, 56, 92);
  font-weight: 600;
  text-align: center;
  border-radius: 40px;
  margin-top: 20px;
  cursor: pointer;
}

/* search Bar */
.search-bar {
  /* background-color: black; */
  height: 200px;
  width: 328px;
}
.search-input {
  height: 200px;
  width: 328px;
  /* background-color: rebeccapurple; */
}
.autocom-box {
  /* background-color: aqua; */
  height: 200px;
  width: 328px;
  /* margin-top: 30px; */
  /* padding: 10px 8px; */
  /* max-height: 280px;
  overflow-y: scroll; */
  /* opacity: 0; */
  /* pointer-events: none; */
}

.autocom-box li {
  list-style: none;
  min-height: 40px;
  height: 100%;
  /* padding: 8px 12px; */
  /* width: 100%; */
  cursor: default;
  border-radius: 40px;
  /* display: none; */
}
.autocom-box li:hover {
  /* background: #efefef; */
  background-color: #efefef77;
  border-radius: 40px;
}

.autocom-box {
  /* top: 100px; */
  position: absolute;
  /* background-color: white; */
  border-radius: 40px;
}

#searchText-anchor {
  /* display: flex; */
  /* width: 328px; */
}

#spotsList {
  width: 328px;
  /* margin: 0; */
  /* margin-bottom: 10px; */
  /* background-color: #efefef41; */

  background-color: #0000009a;
  /* width: 450px; */
  border-radius: 40px;
  position: absolute;
  /* overflow-y: scroll; */
}

.dropdown__search-bar {
  background-color: #efefef34;
  border-radius: 40px;
}

.popUp-search__anchor {
  /* margin-left: 10px; */
  color: #efefef;
  display: flex;
  width: 328px;
  justify-content: center;
  min-height: 20px;
  text-align: center;
  padding-top: 9px;
  /* padding-left: 7px;  */
  /* margin-right: 10px; */
}
