.title-reviews_container {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 1903px;
  /* padding-left: 400px; */
  margin-bottom: 50px;
  /* text-align: center; */
  color: red;
}

.main-review-title {
  /* text-align: center; */
  width: 1112px;
  flex-direction: row;
}

#reviews-title {
  /* margin-top: 22px; */

  /* margin-left: 150px; */
  font-weight: 600;
}
.reviews-main_container {
  display: flex;

  justify-content: center;
}
#reviews {
  /* font-size: 12px; */
}
.reviews-description_container {
  flex-direction: column;
  width: 1112px;
  font-weight: 600;
  color: #f4f1ea;
  font-size: large;
}

.reviews-username_container {
  flex-direction: column;
  color: #f4f1ea;
  float: right;
  /* text-align: center; */
  margin-top: 15px;
  margin-bottom: 150px;
  padding-right: 10px;
}
