.homePage-main__container {
  font-family: sans-serif;
  background: url("https://images.unsplash.com/photo-1535961652354-923cb08225a7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZXhvdGljJTIwcGxhY2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
    no-repeat 0 0;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  /* padding-top: 5px; */
  /* backdrop-filter: contrast(0.8); */
}

.header-black1__container {
  color: rgb(221, 221, 221);
  width: 1903px;
  height: 120px;
  background-color: #000000cb;
}

.header-black__container {
  color: rgb(221, 221, 221);
  width: 1903px;
  height: 120px;
  /* background-color: #000000d3; */
  background-color: #000000e5;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-black__container > .secondary-link__container {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(221, 221, 221);
  /* text-align: center; */

  /* height: 120px; */
}

.secondary-link__container > h2 {
  padding-top: 30px;
  font-weight: 600;
  font-size: xxx-large;
}

.places-link__container {
  text-align: right;
  height: 50px;
}

.places-link__container > a {
  display: inline-flex;

  flex-direction: row;
}

.places-link__container > a > h2 {
  color: rgb(221, 221, 221);
  margin-right: 150px;
  margin-top: 50px;
  font-size: large;
}

.homePage-spots__container {
  height: 768px;
  margin-top: 31px;
}

/* playing with letter to make animation */
.homePage-spots__container > h2:nth-child(2),
.homePage-spots__container > h2:nth-child(3),
.homePage-spots__container > h2:nth-child(4),
.homePage-spots__container > h2:nth-child(5) {
  display: none;
}

.homePage-spots__container > h2 {
  color: rgb(221, 221, 221);
  /* padding-top: 5px; */

  font-size: 32px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
}

.homePage-spots__container > h2:nth-child(1):hover {
  padding-top: 23px;
}

/* secondary pic */

.homePage-secondary__container {
  font-family: sans-serif;
  background: url("https://images.unsplash.com/photo-1482955903579-70929ba3a509?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGJlYWNoJTIwaG91c2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
    no-repeat 0 0;
  /* background-size: cover; */
  z-index: 0;
  height: 500px;
}
.homePage-secondary__container {
  /* background-color: aquamarine; */
  transition: all 1s ease-in-out;
  color: rgb(221, 221, 221);
}
.homePage-secondary__container:hover {
  background-color: rgba(127, 255, 212, 0.233);
}

.secondary-spots__container > a > h2 {
  color: #000000;
  font-weight: 650;
  padding-top: 15px;
  font-size: 24px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.secondary-spots__container > a > h2:hover {
  padding-top: 10px;
  font-size: 25px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.footer-black__container {
  color: rgb(221, 221, 221);
  width: 1903px;
  height: 130px;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: #000000e5;
}

.footer-link__container {
  padding-top: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-weight: 200;
}

#github {
  font-size: x-large;
  color: rgb(221, 221, 221);
}

#github:hover {
  color: #f4f1ea;
}

/* .h3-text__container {
  display: inline-block;
  background-color: chartreuse;
  color: red;
  margin-bottom: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 220px;
} */

.every-nearby__container {
  display: block;
  background-color: rgba(255, 0, 0, 0.247);
  float: right;
  margin-top: 105px;
  height: 386px;
  width: 1103px;
  padding-top: 10px;
}

.each-nearby__container {
  display: inline-flex;
  flex-direction: row;
  margin-right: 60px;
  /* justify-content: space-evenly; */
  padding-top: 20px;
  width: 300px;
  height: 150px;
  /* background-color: rgb(38, 184, 147); */
}

.each-nearby__links {
  display: flex;
  /* background-color: #000000; */
  width: 300px;
  height: 150px;
}

#explore-nearby__img {
  width: 85px;
  height: 85px;
  /* margin-top: 10px; */
  /* margin-left: 20px; */
  /* padding-left: 20px;
  padding-top: 20px; */
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.picsExplore-anchor_links {
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  width: 280px;
  height: 95px;
  /* background-color: #000000; */
  color: #000000;
  font-size: 1rem;
}

.explore-exotic__places {
  /* width: fit-content; */
  position: absolute;
  left: 830px;
  padding-top: 10px;
}
