.body-main__container {
  font-family: sans-serif;
  background: url("https://images.unsplash.com/photo-1521782462922-9318be1cfd04?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1055&q=80")
    no-repeat 0 0;
  background-size: cover;
  z-index: 0;
}

.signup-form__container {
  background-color: aliceblue;
  background-color: rgba(190, 68, 68, 0.308);
  background-blend-mode: overlay;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  text-align: center;
  color: #000000;
}

.title-main__container {
  font-size: medium;
  margin-top: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
