#root > ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-btn {
  font-size: 1rem;
  background-color: transparent;
  color: #000000;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 0%;
}

.login-btn:hover {
  font-size: 1.1rem;
}

#root > ul > li > a:nth-child(4) {
  padding: 12px;
  float: right;
}
