#root > ul {
  padding: 10px 5px 10px 5px;
  color: #f5f5f75d;
  background: rgba(0, 0, 0, 0.8);
}
#root > ul > li > a:nth-child(1):hover {
  color: #f5f5f7;
}
#root > ul > li > a:nth-child(3):hover {
  color: #f5f5f7;
}
#root > ul > li > a:nth-child(4):hover {
  color: #f5f5f7;
}

/* #root > ul > li > button {
  border: none;
} */

.profile-dropdown {
  height: 5px;
}

.profile-dropdown > li {
  position: relative;
  text-align: center;
  bottom: 38px;
}

.login-btn {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
  color: #f5f5f75d;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 0%;
  height: min-content;
}

.login-btn:hover {
  font-size: 1.2rem;
  color: #f5f5f7;
}

#root > ul > li > a:nth-child(4) {
  padding: 12px;
  float: right;
}

.profile-main__container > img {
  position: relative;
  bottom: 70px;
  border-radius: 49.99999%;
  float: right;
}

.logout-btn {
  position: relative;
  bottom: 31px;
  float: right;
  font-size: 1rem;
  background-color: transparent;
  color: #f5f5f75d;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 0%;
}

.logout-btn:hover {
  font-size: 0.9rem;
  color: #f5f5f7;
}

#home-btn {
  font-size: 1rem;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-left: 40px;
  /* padding-right: 30px; */
  transition: all 0.2s ease-in-out;
}
#signup-btn,
#hostSignup-btn {
  font-size: 1rem;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#home-btn:hover,
#signup-btn:hover,
#hostSignup-btn:hover {
  font-size: 1.2rem;
}
#users-main-btn {
  background-color: #a83a3aad;
  border-radius: 10px;
  margin-left: 40px;
}

.fa-user-circle {
}
