.login-main__container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: fit-content;
}

.login-form__container > form {
  border-radius: 25% 10%;
}

.login-form__container > form > label {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.demo-login__btn {
  background-color: rgba(182, 71, 71, 0.596);

  margin-bottom: 5px;
}

.submit-login__btn {
  background-color: rgba(182, 71, 71, 0.596);
}
